.file-list-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.file-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
	width: 100%;
	max-width: 800px;
}

.file-item {
	background-color: #181818;
	border-color: #121212;
	padding: 16px;
	text-align: center;
}

.file-name a {
	font-weight: bold;
	color: #fff;
	text-decoration: none !important;
}

.file-name a:hover {
	color: #ffdb4d;
}

.file-details {
	display: flex;
	flex-direction: column;
    text-align: left;
	margin-top: 16px;
	font-size: 14px;
	color: #fff;
}

.file-details .file-data {
	color: #ffdb4d;
}

.file-details span {
	margin-bottom: 8px;
}


.pagination {
	display: flex;
	gap: 8px;
	margin-top: 16px;
}
.pagination button {
	color: #000 !important;
	background-color: #ffdb4d !important;
}
