.sort-container {
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sort-container h2 {
	margin-bottom: 10px;
	color: #333;
}

.sort-form-control {
	min-width: 200px;
}

